<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: none;
            background: #dddddd57;
        }
        
        form {
            width: 75%;
            left: 75%;
            border-radius: 10px;
            background: white;
            height: 200px;
        }
        
        .form-control-file,
        .form-control-range {
            display: block;
            width: 50%;
        }
    </style>
</head>

<body>
    <div class="container" style="height:10%"></div>
    <div class="container-fluid" style=" background: #075eb6;width: 90% ;height: 900px;box-shadow: 5px 10px 8px 10px #888888;">

        <div class="jumbotron text-center" style="background: #d91c28">
            <h1 class="login-lebel">
                <%= title %>
            </h1>
            <p class="login-lebel">Welcome to
                <%= title %>
            </p>
        </div>
        <div class="container" style="height: 10%;"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <center>
                        <form action="/v1/admin/upload" method=post encType="multipart/form-data" style="display:block">
                            <h2 class=text-center>Upload Excel</h2>
                            <br/>
                            <div class="form-group">
                                <center> <input type="file" class="form-control-file" name="dataFile" id="dataFile" placeholder="Please browse the file location" aria-describedby="fileHelpId"></center>
                                <small id="fileHelpId" class="form-text text-muted"></small><br/>
                            </div>
                            <center> <button type="submit" class="btn btn-error">Upload</button></center>
                        </form>
                    </center>
                </div>
                <div class="col">
                    <center>
                        <form action="/v1/admin/listtcs" method=get style="display:block">
                            <h2 class=text-center>View Test Cases</h2>
                            <br/>
                            <div class="form-group">
                                <center> <input type="text" class="form-control-file" name="testcase" id="testcase" placeholder="Enter test case numbers in comma separated "></center>
                            </div>
                            <center> <button type="submit" class="btn btn-error">Find</button></center>
                        </form>
                    </center>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="row">
                <div class="col">
                    <center>
                        <form action="/v1/admin/listtcs" method=get style="display:block">
                            <br/>
                            <h2 class=text-center>View Log</h2>
                            <br/>
                            <br/>
                            <center> <button type="submit" class="btn btn-error">View</button></center>
                        </form>
                    </center>
                </div>
                <div class="col">
                    <center>
                        <form action="/v1/admin/listtcs" method=get style="display:block">
                            <br/>
                            <h2 class=text-center>User Role Management</h2>
                            <br/>
                            <br/>
                            <center> <button type="submit" class="btn btn-error">View/Change</button></center>
                        </form>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function($) {
            $('#uploadFile').click(function() {
                $('#contentdisplay').empty();
                $('#contentdisplay').text('Upload cLicked')
            })

            $('#viewtcs').click(function() {
                $('#contentdisplay').empty();
                $('#contentdisplay').text('view cLicked')
            })

            $('#updatetcs').click(function() {
                $('#contentdisplay').empty();
                $('#contentdisplay').text('update cLicked')
            })

            $('#deletetcs').click(function() {
                $('#contentdisplay').empty();
                $('#contentdisplay').text('delete cLicked')
            })
        })
    </script>
</body>

</html>