<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <style>
        body {
            opacity: .97;
            background-image: none;
            background: rgba(0, 123, 255, 0.12);
        }
        
        form {
            width: 75%;
            left: 75%;
            border-radius: 10px;
            background: rgba(36, 221, 25, 0.33);
        }
        
        .form-control-file,
        .form-control-range {
            display: block;
            width: 50%;
        }
    </style>
</head>

<body>


    <div class="jumbotron text-center">
        <h1>
            <%= title %>
        </h1>
        <p>Welcome to
            <%= title %>
        </p>
    </div>




    <div class=".container-fluid">
        <div class="row">
            <div class="col">
                <form action="/v1/admin/upload" method=post encType="multipart/form-data" style="display:block">
                    <h2 class=text-center>Upload Excel</h2>
                    <br/>
                    <div class="form-group">
                        <center> <input type="file" class="form-control-file" name="dataFile" id="dataFile" placeholder="Please browse the file location" aria-describedby="fileHelpId"></center>
                        <small id="fileHelpId" class="form-text text-muted"></small><br/>
                    </div>
                    <center> <button type="submit" class="btn btn-primary">Upload</button></center>
                </form>
            </div>
            <div class="col">
                <form action="/v1/admin/listtcs" method=get style="display:block">
                    <h2 class=text-center>View Test case</h2>
                    <br/>
                    <div class="form-group">
                        <center> <input type="text" class="form-control-file" name="testcase" id="testcase" placeholder="Enter TCS in comma separated manner"></center>
                    </div>
                    <center> <button type="submit" class="btn btn-primary">Find</button></center>
                </form>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col">
                <form action="/v1/admin/listtcs" method=get style="display:block">
                    <h2 class=text-center>View Log</h2>
                    <center> <button type="submit" class="btn btn-primary">View</button></center>
                </form>
            </div>
            <div class="col">
                <form action="/v1/admin/listtcs" method=get style="display:block">
                    <h2 class=text-center>Role Management</h2>
                    <center> <button type="submit" class="btn btn-primary">View/Change</button></center>
                </form>
            </div>
        </div>
    </div>

    <!--
    <div class=".container-fluid">
        <div class="row">
            <form action="/v1/admin/upload" method=post encType="multipart/form-data" style="display:block">
                <div class="form-group">
                    <input type="file" class="form-control-file" name="dataFile" id="dataFile" placeholder="Please browse the file location" aria-describedby="fileHelpId">
                    <small id="fileHelpId" class="form-text text-muted"></small><br/>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>

    </div>

    <div class=".container-fluid">
        <div class="row">
            <form action="/action_page.php" style="display:block">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
-->
    <script>
        jQuery(document).ready(function($) {
            $('#uploadFile').click(function() {
                $('#contentdisplay').empty();
                $('#contentdisplay').text('Upload cLicked')
            })

            $('#viewtcs').click(function() {
                $('#contentdisplay').empty();
                $('#contentdisplay').text('view cLicked')
            })

            $('#updatetcs').click(function() {
                $('#contentdisplay').empty();
                $('#contentdisplay').text('update cLicked')
            })

            $('#deletetcs').click(function() {
                $('#contentdisplay').empty();
                $('#contentdisplay').text('delete cLicked')
            })
        })
    </script>
</body>

</html>