<!DOCTYPE html>

<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        body {
            opacity: .97;
        }
    </style>

    <script>
        function _(id) {
            return document.getElementById(id);
        }
        var droppedIn = false;

        function drag_start(event) {
            //  _('app_status').innerHTML = "<p id=para>Dragging the " + event.target.getAttribute('id') + '</p>';
            event.dataTransfer.dropEffect = "move";
            event.dataTransfer.setData("text", event.target.getAttribute('id'));
        }

        function drag_enter(event) {
            //   _('app_status').innerHTML = "<p id=para>You are dragging over the " + event.target.getAttribute('id') + '</p>';
        }

        function drag_leave(event) {
            //   _('app_status').innerHTML = "<p id=para>You left the " + event.target.getAttribute('id') + '</p>';
        }

        function drag_drop(event) {
            event.preventDefault(); /* Prevent undesirable default behavior while dropping */
            var elem_id = event.dataTransfer.getData("text");
            event.target.appendChild(_(elem_id));
            //  _('app_status').innerHTML = "<p id=para>Dropped " + elem_id + " into the " + event.target.getAttribute('id') + '</p>';
            _(elem_id).removeAttribute("draggable");
            _(elem_id).style.cursor = "default";
            droppedIn = true;
        }

        function drag_end(event) {
            if (droppedIn == false) {
                _('app_status').innerHTML = "<p id=para>You let the " + event.target.getAttribute('id') + " go." + '</p>';
            }
            droppedIn = false;
        }

        function readDropZone() {
            var dirtyQueue = [];
            for (var i = 0; i < _("drop_zone").children.length; i++) {
                dirtyQueue.push(_("drop_zone").children[i].id);
            }
            /* Run Ajax request to pass any data to your server */
            return dirtyQueue;
        }
    </script>
</head>

<body>

    <div id=maindiv>
        <div>
            <div id=logo></div>
            <div></div>
            <div id=refresh><button id=refreshbut>Reload</button>&nbsp;&nbsp;<button id=logoutbut>Log Out</button></div>
        </div>
        <h1>
            <span><%= title %></span>
        </h1>
        <br/>
        <br/>
        <div id=gapfromlogo></div>
        <div id=divtohide>

            <div>
                <div class='groupdiv'>
                    <div id=dropzoneallign>
                        <h3><span>Drop Zone</span></h3>
                        <div id="drop_zone" ondragenter="drag_enter(event)" ondrop="drag_drop(event)" ondragover="return false" ondragleave="drag_leave(event)"></div>
                    </div><br/>
                    <div id=gapindiv>
                    </div>
                    <div id=selectzoneallign>
                        <h3><span>Selected Filters</span></h3>
                        <div id=dropSelectdata>
                        </div>
                    </div>
                </div><br/><button id=loaddata>Load options</button>
                <hr/>
                <div class='dropdown'>
                    <div class="dropdown-content" id='dropselect'></div>
                </div>
                <div id=dropele></div>
            </div>
        </div><br/>
        <div><button id=exportData>Export</button></div>
        <!-- <div id='opt'></div>
            <div id='opt2'></div>-->

        <br/>
        <div id='datid'></div>

</body>

<script>
    jQuery(document).ready(function($) {

        $('#refreshbut').click(function() {
            location.reload();
        });

        $('#logoutbut').click(function() {
            //  alert(window.location.href);
            $(window).attr("location", "http://localhost:3000/");
        });

        $('#exportData').hide();
        var counterprime = 0;
        var optedval = [];
        var dataArray = [];
        var dataArrayFinal = [];
        var filtersName = [];
        var modifyAdd = [];

        //intialization of golbal repo
        var finaldata = [];
        var addall = '<%-arrall%>'.split('}]');

        addall.forEach(function(el) {
                modifyAdd.push((el[0] === ',' ? el.slice(1, el.length) : el) + '}]');
            })
            // console.log(modifyAdd);
        var columnAssign = JSON.parse(modifyAdd[0]);
        console.log(columnAssign[0])
        var tagsele = '<h1><span>Avaliable Filters are.......</span></h1>';
        var count = 0;
        for (var key in columnAssign[0]) {
            console.log(key)
            if (key !== 'DataBinding') {
                if (count < 11) {
                    tagsele = tagsele + '<div id="' + key + '" class="objects" draggable="true" ondragstart="drag_start(event)" ondragend="drag_end(event)">' + key + '</div>';
                }
                count++;
            }
        }
        console.log(tagsele)
        $('#dropele').append(tagsele);

        $('#loaddata').click(function() {
            $('#dropele').hide();
            //get all the data from the node server after reading whole excel
            modifyAdd = [];
            var addall = ('<%-arrall%>').replace(/[\r\n]+/g, " ").split('}]');
            addall.forEach(function(el) {
                    modifyAdd.push((el[0] === ',' ? el.slice(1, el.length) : el) + '}]');
                })
                // assign the filter column name for futher processing
            filtersName = readDropZone();
            if (filtersName.length > 0) {
                var finalDropOption = [];
                var filtersNameopt = filtersName[counterprime];
                //create json boject format for drop down creation
                var dirtydumpArray = [];
                var optdata = '';
                modifyAdd.forEach(function(ele) {
                    if (ele.length > 4) {
                        var sheetData = JSON.parse(ele);
                        for (var key in sheetData) {
                            for (var key1 in sheetData[key]) {
                                if (key1 == filtersNameopt) {
                                    if (dirtydumpArray.indexOf(sheetData[key][key1]) == -1) {
                                        dirtydumpArray.push(sheetData[key][key1]);
                                    }
                                }
                            }
                        }
                    }
                })
                optdata = optdata + '<option value=select>Select the <b>' + filtersNameopt + '</b></option>'
                dirtydumpArray.forEach(function(opt) {
                        optdata = optdata + '<option value="' + opt + '">' + opt + '</option>'
                    })
                    // finalizing the indisual options
                if (counterprime < filtersName.length - 1) {
                    finalDropOption = finalDropOption + '<select class=userselect multiple=true>' + optdata + '</select><br/><br/><button id=loadmore > Load More</button>&nbsp;&nbsp;'
                } else {
                    //adding the button for final submit
                    finalDropOption = finalDropOption + '<select class=userselect multiple=true>' + optdata + '</select><br/><button id=finaldata > Generate Test Design</button>&nbsp;&nbsp;'
                }
                $('#dropselect').append(finalDropOption);

                $('#loadmore').click(function() {
                    counterprime++;
                    finalDropOption = '';
                    var value = $('.userselect :selected').val();
                    //Selected options capture process....
                    $('.userselect :selected').each(function(i, selected) {
                        optedval[i] = $(selected).text();
                    });
                    console.log(optedval);

                    //increamented counter
                    filtersNameopt = filtersName[counterprime];
                    var selectedTemplate = '<div class="innerdiv"><h5>' + filtersName[counterprime - 1] + '</h5>';
                    optedval.forEach(function(ele) {
                        selectedTemplate = selectedTemplate + '<p>' + ele + '</p>';
                    })
                    selectedTemplate = selectedTemplate + '</div>';
                    $('#dropSelectdata').append(selectedTemplate);
                    modifyAdd.forEach(function(ele) {
                        if (ele.length > 4) {
                            var sheetData = JSON.parse(ele);
                            for (var key in sheetData) {
                                for (var key1 in sheetData[key]) {
                                    if (key1 == filtersName[counterprime - 1]) {
                                        if (optedval.indexOf(sheetData[key][key1]) != -1) {
                                            dataArray.push(sheetData[key]);
                                        }
                                    }
                                }
                            }
                        }
                    })

                    var dirtydumpArray = [];
                    var optdata = '';
                    dataArray.forEach(function(ele) {
                        if (ele.toString().length > 4) {
                            for (var key1 in ele) {
                                if (key1 == filtersNameopt) {
                                    if (dirtydumpArray.indexOf(ele[key1]) == -1) {
                                        dirtydumpArray.push(ele[key1]);
                                    }
                                }
                            }
                        }
                    })
                    optdata = optdata + '<option value=select>Select the <b>' + filtersNameopt + '</b></option>'
                    dirtydumpArray.forEach(function(opt) {
                            optdata = optdata + '<option value="' + opt + '">' + opt + '</option>'
                        })
                        // finalizing the indisual options
                    if (counterprime < filtersName.length - 1) {
                        finalDropOption = finalDropOption + '<select class=userselect multiple=true>' + optdata + '</select><br/><br/><button id=loadmore > Load More</button>&nbsp;&nbsp;'
                    } else {
                        //adding the button for final submit
                        finalDropOption = finalDropOption + '<select class=userselect multiple=true>' + optdata + '</select><br/><button id=finaldata > Generate Test Design</button>&nbsp;&nbsp;'
                    }
                    $('#dropselect').empty();
                    $('#dropselect').html(finalDropOption);
                })

                $("div.dropdown").on("click", "button#loadmore", function() {
                    counterprime++;
                    dataArrayFinal = [];
                    finalDropOption = '';
                    var value = $('.userselect :selected').val();
                    //Selected options capture process....
                    $('.userselect :selected').each(function(i, selected) {
                        optedval[i] = $(selected).text();
                    });
                    //increamented counter
                    filtersNameopt = filtersName[counterprime];
                    var selectedTemplate = '<div class="innerdiv"><h5>' + filtersName[counterprime - 1] + '</h5>';
                    optedval.forEach(function(ele) {
                        selectedTemplate = selectedTemplate + '<p>' + ele + '</p>';
                    })
                    selectedTemplate = selectedTemplate + '</div>'
                    $('#dropSelectdata').append(selectedTemplate);
                    dataArray.forEach(function(ele) {
                        if (ele.toString().length > 4) {
                            for (var key1 in ele) {
                                if (key1 == filtersName[counterprime - 1]) {
                                    if (optedval.indexOf(ele[key1]) != -1) {
                                        dataArrayFinal.push(ele);
                                    }
                                }
                            }
                        }
                    })

                    var dirtydumpArray = [];
                    var optdata = '';
                    dataArrayFinal.forEach(function(ele) {
                        if (ele.toString().length > 4) {
                            console.log(ele);
                            for (var key1 in ele) {
                                if (key1 == filtersNameopt) {
                                    if (dirtydumpArray.indexOf(ele[key1]) == -1) {
                                        dirtydumpArray.push(ele[key1]);
                                    }
                                }
                            }
                        }
                    })
                    optdata = optdata + '<option value=select>Select the <b>' + filtersNameopt + '</b></option>'
                    dirtydumpArray.forEach(function(opt) {
                            optdata = optdata + '<option value="' + opt + '">' + opt + '</option>'
                        })
                        // finalizing the indisual options
                    if (counterprime < filtersName.length - 1) {
                        finalDropOption = finalDropOption + '<select class=userselect multiple=true>' + optdata + '</select><br/><br/><button id=loadmore > Load More</button>&nbsp;&nbsp;'
                    } else {
                        //adding the button for final submit
                        finalDropOption = finalDropOption + '<select class=userselect multiple=true>' + optdata + '</select><br/><button id=finaldata > Generate Test Design</button>&nbsp;&nbsp;'
                    }
                    $('#dropselect').empty();
                    dataArray = [];
                    dataArray = dataArrayFinal;
                    dataArrayFinal = [];
                    $('#dropselect').html(finalDropOption);
                });
            } else {
                alert('Please Select Filter');
            }
        })

        $("div.dropdown").on("click", "button#finaldata", function() {

            $('.userselect :selected').each(function(i, selected) {
                optedval[i] = $(selected).text();
            });


            if (filtersName.length == 1) {
                var selectedTemplate = '<div class="innerdiv"><h5>' + filtersName[0] + '</h5>';
                optedval.forEach(function(ele) {
                    selectedTemplate = selectedTemplate + '<p>' + ele + '</p>';
                })
                selectedTemplate = selectedTemplate + '</div>';
                $('#dropSelectdata').append(selectedTemplate);

                modifyAdd.forEach(function(ele) {
                    if (ele.length > 4) {
                        var sheetData = JSON.parse(ele);
                        for (var key in sheetData) {
                            for (var key1 in sheetData[key]) {
                                if (key1 == filtersName[0]) {
                                    if (optedval.indexOf(sheetData[key][key1]) != -1) {
                                        dataArrayFinal.push(sheetData[key]);
                                    }
                                }
                            }
                        }
                    }
                })
            } else {
                var selectedTemplate = '<div class="innerdiv"><h5>' + filtersName[counterprime] + '</h5>';
                optedval.forEach(function(ele) {
                    selectedTemplate = selectedTemplate + '<p>' + ele + '</p>';
                })
                selectedTemplate = selectedTemplate + '</div>';
                $('#dropSelectdata').append(selectedTemplate);
                dataArray.forEach(function(ele) {
                    if (ele.toString().length > 4) {
                        for (var key1 in ele) {
                            if (key1 == filtersName[counterprime]) {
                                if (optedval.indexOf(ele[key1]) != -1) {
                                    dataArrayFinal.push(ele);
                                }
                            }
                        }
                    }
                })
            }
            console.log(dataArrayFinal);

            var tabledata = '<table><tr>';
            var headerNames = '';
            console.log(dataArrayFinal[0]);
            var columnAssign = dataArrayFinal[0];
            for (var key in columnAssign) {
                headerNames = headerNames + '<th>' + key + '</th>';
            }
            tabledata = tabledata + headerNames + '</tr>';
            dataArrayFinal.forEach(function(ele) {
                var tablerow = '<tr>';
                for (var key in ele) {
                    tablerow = tablerow + '<td>' + ele[key] + '</td>'
                }
                tabledata = tabledata + tablerow + '</tr>';
            })
            tabledata = tabledata + '</table>';
            $('#dropselect').hide();
            $('#divtohide').hide();
            $('#exportData').show();
            $('#exportData').click(function(e) {
                JSONToCSVConvertor(JSON.stringify(dataArrayFinal), "Filtered Design Data", true);
            })
            $('#datid').html(tabledata);
        })
    })

    function JSONToCSVConvertor(JSONData, ReportTitle, ShowLabel) {
        //If JSONData is not an object then JSON.parse will parse the JSON string in an Object
        var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;

        var CSV = '';
        //Set Report title in first row or line
        var requiredColumns = ["Functionality", "TestCase", "Product", "Product Category", "Business flow", "Business Rule", "Expected Result", "Interface", "Pre-requisite", "User Group", "Version"];
        //This condition will generate the Label/Header
        if (ShowLabel) {
            var row = "";

            //This loop will extract the label from 1st index of on array
            for (var index in arrData[0]) {

                //Now convert each value to string and comma-seprated
                if (requiredColumns.indexOf(index) !== -1) {
                    row += index + ',';
                }
            }

            row = row.slice(0, -1);

            //append Label row with line break
            CSV += row + '\r\n';
        }
        var countCol = 12;
        //1st loop is to extract each row
        for (var i = 0; i < arrData.length; i++) {
            var row = "";

            //2nd loop will extract each column and convert it in string comma-seprated
            for (var index in arrData[i]) {
                if (requiredColumns.indexOf(index) !== -1) {
                    row += '"' + arrData[i][index] + '",';
                }
            }

            row.slice(0, 12);

            //add a line break after each row
            CSV += row + '\r\n';
        }

        if (CSV == '') {
            alert("Invalid data");
            return;
        }

        //Generate a file name
        var fileName = "MavericReport_";
        //this will remove the blank-spaces from the title and replace it with an underscore
        fileName += ReportTitle.replace(/ /g, "_");

        //Initialize file format you want csv or xls
        var uri = 'data:text/csv;charset=utf-8,' + escape(CSV);

        // Now the little tricky part.
        // you can use either>> window.open(uri);
        // but this will not work in some browsers
        // or you will not get the correct file extension    

        //this trick will generate a temp <a /> tag
        var link = document.createElement("a");
        link.href = uri;

        //set the visibility hidden so it will not effect on your web-layout
        link.style = "visibility:hidden";
        link.download = fileName + ".csv";

        //this part will append the anchor tag and remove it after automatic click
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>

</html>