<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>
        <%= title %>
    </title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        section {
            display: bolck;
        }
    </style>
</head>

<body>
    <div id=body1>

        <div class="container-fluid" style="height:15px"></div>
        <header>

            <nav class="navbar navbar-expand-lg navbar-light header-topNav_hero:before nav-tabs">
                <a class="navbar-brand " id=hearder-text href="#">Test Design Automation</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto header-topNav-list-item-link">
                        <li class="nav-item active">
                            <a class="nav-link " id=hearder-text href="#about">About <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id=hearder-text href="#demo">Demo</a>
                        </li>
                    </ul>

                    <button class="btn btn-danger my-2 my-sm-0 header-login-btn" data-toggle="modal" data-target="#loginModel" type="submit">Login</button>

                </div>
            </nav>


        </header>
        <section>

            <div class="container" style="height:30%"></div>

            <div id=logo></div>


        </section>

        <section>
            <div class="container-fluid">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <h1 class="hero-headline">Welcome to the revolution</h1>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </section>
    </div>
    <div class="container-fluid">
        <section id=login>

        </section>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <section id=about>
                    <div class="container" style="height:15px"></div>
                    <div class="container" style="background: #075eb6;border-radius:90px 0px 90px 0px;clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 7vw));">
                        <h1 class="login-lebel">About</h1>
                        <p class="login-lebel">We are committed to providing you with unparalleled levels of service and convenience. This is why our stores are open 7 days a week, and from 8am to 8pm on weekdays. We offer a super-quick account opening, on the spot card printing
                            as well as a 24/7 London-based contact centre</p>
                        <p class="login-lebel">It's really important to us that we give something back to the communities we serve. Every year we host thousands of charity and business networking events across our stores. We’re proud to partner with two leading charities to
                            help combat dementia and promote children’s mental wellbeing. Head over to our Community and Charity Involvement page to learn more about our partnerships</p>
                        <p class="login-lebel">Kids matter at Metro Bank. Every year we help thousands of children take their first steps with money. We encourage them to save and count their coins using our Magic Money Machines and learn about budgeting with our financial
                            education programme.</p>
                        <blockquote class="blockquote text-right login-lebel">FSCS protect consumers when authorised financial services firms fail. We’ve helped millions of people and paid billions of pounds in compensation since 2001.</blockquote>
                        <p class="login-lebel">Store your valuables and important documents in a safe and secure environment. We offer different size boxes from extra small to extra large.</p>
                        <p class="login-lebel">From sole traders to large corporations, there’s an account to fit your needs. And there’s a Local Business Manager in every store. See what we can do for your business.</p>
                        <blockquote class="blockquote text-right login-lebel">We believe in offering all our business customers an expert and personal level of service. From sole traders to international corporates, our Local Business and Relationship managers will get to know your needs</blockquote>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section id=demo>
                    <div class="container" style="height:15px"></div>
                    <div class="container-fluid" style="background:  #075eb6;border-radius:90px 0px 90px 0px;width: 86%">
                        <div class="container">
                            <h1>Demo</h1>
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="/images/Drag_filters.png" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block" style="background:rgb(36, 84, 241);border-radius:90px 0px 90px 0px; ">
                                            <h5>Drag Filters</h5>
                                            <p>Please drag the desired filters and drop it into Drop in Drope Zone</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="/images/dragged_filters.png" alt="Second slide">
                                        <div class="carousel-caption d-none d-md-block" style="background:rgb(36, 84, 241);border-radius:90px 0px 90px 0px; ">
                                            <h5>Load Options</h5>
                                            <p>Once the filter slection is done. Click on "Load Opations". You will Observe options related to each filters will start loading</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="/images/options_loaded.png" alt="Third slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="loginModel" tabindex="-1" role="dialog" aria-labelledby="loginModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModelLabel">Log In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <form action="validateUser" method="POST" style="display:  block; width: 100%;background: #075eb6">
                        <div class="form-group container-fluid">
                            <label for="" class="login-lebel">Username</label>
                            <input type="text" class="form-control login" name="username" id="username" value=admin aria-describedby="helpId" placeholder="Enter Username" required>
                        </div>
                        <div class="form-group container-fluid">
                            <label for="" class="login-lebel">Password</label>
                            <input type="password" class="form-control login" name="password" id="password" value=admin aria-describedby="helpId" placeholder="Enter Password">

                        </div>
                        <center> <button type="submit" id=subLogin class="btn btn-error login ">Log In</button></center>
                    </form>
                </div>
                <div class="modal-footer model-footer1">
                    <center> <button type="button" class="btn btn-secondary login " data-dismiss="modal">Close</button></center>
                </div>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function($) {





            var status = '<%=error%>';
            if (status !== 'errordata') {
                alert(status);
            }

        })
    </script>

</body>

</html>